ul {
  list-style: none;
}
.menu {
  height: 60px;
}
.menu ul {
  text-align: center;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
}
